# 会社情報や他のプロジェクト（いったん除外）
CloudFormation/
ToDoList/
asana-go/
test/
test.txt

# C++のビルド成果物など（不要なファイル）
*.out
a.out

# 別のリポジトリにしたため、除外
langchain-rag

# 不要
.vscode
template/
.env
.env.dev
.env.uat
config.json
cron.log
aws-sso-login*

